#login,body,html{height:100%;width:100%}#login{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}#verifyUserBlobTable td img{width:100px}#verifyUserBlobTable td button{margin-right:5px}